@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@400;700&family=Audiowide&family=Bowlby+One+SC&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Chewy&family=Cinzel:wght@400;500;600;700;800;900&family=Creepster&family=Koulen&family=Pangolin&display=swap');

:root {
    --FonteRodrex: 'Bowlby One SC';
    --FonteNav: 'Koulen';
    --FonteTexto: 'Cabin';
    --FonteTexto02: 'Abel';
    --FonteInfantil: 'Pangolin';
    --FonteTerror: 'Creepster';
    --FonteComedia: 'Chewy';
    --FonteSciFi: 'Audiowide';
    --FonteFantasia: 'Amatic SC';
    --FonteSuspense: 'Cinzel';

    --Cor01-violeta: #634454;
    --Cor02-vermelho: #480001;
    --Cor03-azulclaro: #889A9A;
    --Cor04-azulescuro: #42535D;
    --Cor05-cinza: #1F2322;
    --cor06-fundo: #948F89;

}

* {
    margin: 0px;
    padding: 0px;

    
}

body {
    background-color: var(--Cor01-violeta);
    font-family: var(--FonteTexto);
    text-align: justify;
}

header {
    background-image: url(imagens/header_rodrex.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    padding: 50px 0px 3px;
    margin-bottom: 1rem;
}

header > p {
    font-family: var(--FonteTexto02);
    font-size: large;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}

h1 {
    font-family: var(--FonteRodrex);
    text-align: center;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.719);
}

nav {
    font-family: 'Koulen';
    display: flex;
    justify-content: center;
}
nav > p {
    padding-left: 50px;
}

nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
    
}
nav a:hover {
    background-color: #889a9a99;
    color: var(--Cor02-vermelho);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.192);
    border-radius: 5px;
    padding: 0px 8px 0px 8px;
}

footer {
    margin-top: 10rem;
    padding: 3rem;
    background-color: #1F2322;
}
.footer {
    display: flex;
    justify-content: space-between;
    color: #476170;
    font-family: var(--FonteTexto02);
    font-size: 1.2rem;
}
.footer img {
    width: 100px;
}
