
main {
    background-image: url(imagens/danizaboenco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: justify;
    max-width: 900px;
    min-width: 320px;
    border-radius: 10px;;
    padding: 70px;
}

h1 > a {
    text-decoration: none;
    color: var(--roxo);
}

h3 {
    font-family: var(--fonte-corpo);
    color: var(--roxo);
    font-size: 2rem;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.192);
    max-width: 500px;
    min-width: 320px;
    padding-bottom: 20px;
    margin: auto;
}

main > p {
    font-family: var(--fonte-corpo);
    line-height: 1.5rem;
    max-width: 500px;
    min-width: 320px;
    padding-right: 100px;
    margin: auto;
}

p > a {
    color: var(--verde-escuro);
    text-decoration: none;
}

main > p > a:hover {
    font-weight: bold;
}

.fa {
    padding: 10px;
    font-size: 1rem;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.189);
  }

.fa:hover {
    opacity: 0.7;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #BF2C83;
    color: white;
}

div {
    padding-top: 50px;
    text-align: center;
}

div > p {
    font-family: var(--fonte-corpo);
    font-size: 0.7rem;
    padding-bottom: 10px;
}


